<br><br>
<h1>Alimentos</h1>
<br><br>

<div class="aliments" data-controller="aliments">
  <select 
    name="select" 
    data-aliments-url-value="<%= aliment_groups_url %>"
    data-action="change->aliments#setGroup"
  >
    <option>ALE</option>
    <option>AOA AAG</option>
    <option>AOA BAG</option>
    <option>AOA MAG</option>
    <option>AOA MBAG</option>
    <option>AZUCAR C/G</option>
    <option>AZUCAR S/G</option>
    <option>BEBIDAS A</option>
    <option>CEREAL C/G</option>
    <option>CEREAL S/G</option>
    <option>GRASA C/P</option>
    <option>GRASA S/P</option>
    <option>LECHE C/A</option>
    <option>LECHE E</option>
  </select>
  <br><br>

  <div class="results" data-aliments-target="results">
  </div>
</div>