<turbo-frame turbo-frame data-controller="operation-tabs-shower" data-operation-tabs-shower-target="turboFrame"
    data-action="refreshOperationTurboFrame@window->operation-tabs-shower#updateTurboFrame" id="habits">
        <div class="mt-2 relative flex-1 overflow-y-auto">
            <!-- Replace with your content -->
            <div class="bg-gray-100 w-full px-6 py-5">

                <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                    <!-- Inicia card Tipo de alimentación -->
                    <div class="md:grid md:grid-cols-3 md:gap-6">
                        <div class="md:col-span-3">
                            <h3>Tipo de alimentación</h3>
                            <div class="border-t border-gray-200 px-0 sm:my-4 sm:mx-0"></div>

                            <div class="mt-5 md:mt-5 md:col-span-3">
                                <form action="#" method="POST">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-4 sm:col-span-2">
                                            <!--Select-->
                                            <div class="col-span-6 sm:col-span-6 ">
                                                    <label for="nivel_de_actividad_fisica" class="block text-sm">Tipo de alimentación</label>
                                                    <select id="nivel_de_actividad_fisica" name="nivel_de_actividad_fisica" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Regular</option>
                                                        <option>Vegetariana</option>
                                                        <option>Vegana</option>
                                                        <option>Pescetariana</option>
                                                    </select>
                                            </div>
                                            <!--Fin Select-->
                                        </div>

                                        <div class="col-span-6 sm:col-span-4">
                                            <label for="first-name" class="text-sm">Otro tipo</label>
                                            <input type="text" name="first-name" id="first-name"
                                                autocomplete="given-name" class="placeholder"
                                                placeholder="Especificar otro tipo de alimentación">
                                        </div>


                                    </div>
                                </form>
                            </div>

                           

                        </div>
                    </div>
                </div> <!-- fin card información personal-->

                <div class="bg-white shadow px-4 py-5 mt-6 sm:rounded-lg sm:p-6">
                    <div class="md:grid md:grid-cols-3 md:gap-6">
                        <div class="md:col-span-3">
                            <h3>Preferencias y exclusiones de alimentos</h3>
                            <div class="border-t border-gray-200 px-0 sm:my-4 sm:mx-0"></div>

                            <div class="mt-3 md:mt-3 md:col-span-3" data-controller="modal">
                                <div data-modal-target="modal"><!-- Asignación del Modal -->
                                    <%= render 'common/modals/preferences'%>
                                </div>
                                <div class="flex justify-between">
                                    <label for="allergies" class="text-sm">Alergias e intolerancias</label>
                                    <button type="button" data-action="modal#show"
                                        class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-full text-indigo-600 bg-white hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        <!-- Heroicon name: outline/plus -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-1 h-5 w-5" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                        </svg>
                                        Agregar
                                    </button>
                                </div>
                                <div class="mt-0">
                                    <span
                                        class="mt-1 inline-flex rounded-full items-center ml-1 py-0.5 pl-2.5 pr-1 text-md font-medium bg-yellow-100 text-yellow-800">
                                        Nuez
                                        <button type="button"
                                            class="flex-shrink-0 mt-0.5 ml-2 h-4 w-4 rounded-full inline-flex items-center justify-center text-yellow-500 hover:bg-yellow-200 hover:text-yellow-600 focus:outline-none focus:bg-yellow-500 focus:text-white">
                                            <svg class="h-2.5 w-2.5" stroke="currentColor" fill="none"
                                                viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </span>

                                    <span
                                        class="mt-1 inline-flex rounded-full items-center ml-1 py-0.5 pl-2.5 pr-1 text-md font-medium bg-yellow-100 text-yellow-800">
                                        Lacteos
                                        <button type="button"
                                            class="flex-shrink-0 mt-0.5 ml-2 h-4 w-4 rounded-full inline-flex items-center justify-center text-yellow-500 hover:bg-yellow-200 hover:text-yellow-600 focus:outline-none focus:bg-yellow-500 focus:text-white">
                                            <svg class="h-2.5 w-2.5" stroke="currentColor" fill="none"
                                                viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="mt-4 md:mt-6 md:col-span-3" data-controller="modal">
                                <div data-modal-target="modal">
                                    <%= render 'common/modals/preferences'%>
                                </div>
                                <div class="flex justify-between">
                                    <label for="allergies" class="text-sm">Alimentos que no consume</label>
                                    <button type="button" data-action="modal#show"
                                        class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-full text-indigo-600 bg-white hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        <!-- Heroicon name: outline/plus -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-1 h-5 w-5" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                        </svg>
                                        Agregar
                                    </button>
                                </div>
                                <div class="mt-0">
                                    <span
                                        class="mt-1 inline-flex rounded-full items-center ml-1 py-0.5 pl-2.5 pr-1 text-md font-medium bg-yellow-100 text-yellow-800">
                                        Pollo
                                        <button type="button"
                                            class="flex-shrink-0 mt-0.5 ml-2 h-4 w-4 rounded-full inline-flex items-center justify-center text-yellow-500 hover:bg-yellow-200 hover:text-yellow-600 focus:outline-none focus:bg-yellow-500 focus:text-white">
                                            <svg class="h-2.5 w-2.5" stroke="currentColor" fill="none"
                                                viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </span>

                                    <span
                                        class="mt-1 inline-flex rounded-full items-center ml-1 py-0.5 pl-2.5 pr-1 text-md font-medium bg-yellow-100 text-yellow-800">
                                        Glúten
                                        <button type="button"
                                            class="flex-shrink-0 mt-0.5 ml-2 h-4 w-4 rounded-full inline-flex items-center justify-center text-yellow-500 hover:bg-yellow-200 hover:text-yellow-600 focus:outline-none focus:bg-yellow-500 focus:text-white">
                                            <svg class="h-2.5 w-2.5" stroke="currentColor" fill="none"
                                                viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </span>

                                    <span
                                        class="mt-1 inline-flex rounded-full items-center ml-1 py-0.5 pl-2.5 pr-1 text-md font-medium bg-yellow-100 text-yellow-800">
                                        Origen animal
                                        <button type="button"
                                            class="flex-shrink-0 mt-0.5 ml-2 h-4 w-4 rounded-full inline-flex items-center justify-center text-yellow-500 hover:bg-yellow-200 hover:text-yellow-600 focus:outline-none focus:bg-yellow-500 focus:text-white">
                                            <svg class="h-2.5 w-2.5" stroke="currentColor" fill="none"
                                                viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="mt-4 md:mt-6 md:col-span-3" data-controller="modal">
                                <div data-modal-target="modal">
                                    <%= render 'common/modals/preferences'%>
                                </div>
                                <div class="flex justify-between">
                                    <label for="allergies" class="text-sm">Alimentos preferidos</label>
                                    <button type="button" data-action="modal#show"
                                        class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-full text-indigo-600 bg-white hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        <!-- Heroicon name: outline/plus -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="-ml-0.5 mr-1 h-5 w-5" fill="none"
                                            viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                        </svg>
                                        Agregar
                                    </button>
                                </div>
                                <div class="mt-0">
                                    <span
                                        class="mt-1 inline-flex rounded-full items-center ml-1 py-0.5 pl-2.5 pr-1 text-md font-medium bg-purple-100 text-purple-800">
                                        Soya texturizada
                                        <button type="button"
                                            class="flex-shrink-0 mt-0.5 ml-2 h-4 w-4 rounded-full inline-flex items-center justify-center text-purple-500 hover:bg-purple-200 hover:text-purple-600 focus:outline-none focus:bg-purple-500 focus:text-white">
                                            <svg class="h-2.5 w-2.5" stroke="currentColor" fill="none"
                                                viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </span>

                                    <span
                                        class="mt-1 inline-flex rounded-full items-center ml-1 py-0.5 pl-2.5 pr-1 text-md font-medium bg-purple-100 text-purple-800">
                                        Garbanzo
                                        <button type="button"
                                            class="flex-shrink-0 mt-0.5 ml-2 h-4 w-4 rounded-full inline-flex items-center justify-center text-purple-500 hover:bg-purple-200 hover:text-purple-600 focus:outline-none focus:bg-purple-500 focus:text-white">
                                            <svg class="h-2.5 w-2.5" stroke="currentColor" fill="none"
                                                viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </span>

                                    <span
                                        class="mt-1 inline-flex rounded-full items-center ml-1 py-0.5 pl-2.5 pr-1 text-md font-medium bg-purple-100 text-purple-800">
                                        Pan integral
                                        <button type="button"
                                            class="flex-shrink-0 mt-0.5 ml-2 h-4 w-4 rounded-full inline-flex items-center justify-center text-purple-500 hover:bg-purple-200 hover:text-purple-600 focus:outline-none focus:bg-purple-500 focus:text-white">
                                            <svg class="h-2.5 w-2.5" stroke="currentColor" fill="none"
                                                viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </span>

                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- fin card preferencias y exclusiones-->

                <div class="bg-white shadow px-4 py-5 mt-6 sm:rounded-lg sm:p-6">
                    <div class="md:grid md:grid-cols-3 md:gap-6">
                        <div class="md:col-span-3">
                            <h3>Suplementos</h3>
                            <div class="border-t border-gray-200 px-0 sm:my-4 sm:mx-0"></div>
                            <div class="mt-3 md:mt-3 md:col-span-3">
                                <fieldset>
                                    <legend class="text-base font-medium text-gray-900"></legend>
                                    <div class="mt-4 grid grid-cols-4 gap-2">
                                        <div class="flex items-start">
                                            <div class="h-5 flex items-center">
                                                <input id="comments" name="comments" type="checkbox" class="checkbox">
                                            </div>
                                            <div class="ml-3 text-md">
                                                <label for="comments" class="medium">Ninguno</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="flex items-start">
                                                <div class="h-5 flex items-center">
                                                    <input id="candidates" name="candidates" type="checkbox"
                                                        class="checkbox">
                                                </div>
                                                <div class="ml-3 text-md">
                                                    <label for="candidates" class="medium">Proteína</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="flex items-start">
                                                <div class="h-5 flex items-center">
                                                    <input id="offers" name="offers" type="checkbox" class="checkbox">
                                                </div>
                                                <div class="ml-3 text-md">
                                                    <label for="offers" class="medium">Multivitamínico</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="flex items-start">
                                                <div class="h-5 flex items-center">
                                                    <input id="offers" name="offers" type="checkbox" class="checkbox">
                                                </div>
                                                <div class="ml-3 text-md">
                                                    <label for="offers" class="medium">Omega 3</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="flex items-start">
                                                <div class="h-5 flex items-center">
                                                    <input id="offers" name="offers" type="checkbox" class="checkbox">
                                                </div>
                                                <div class="ml-3 text-md">
                                                    <label for="offers" class="medium">Vitamina C</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="flex items-start">
                                                <div class="h-5 flex items-center">
                                                    <input id="offers" name="offers" type="checkbox" class="checkbox">
                                                </div>
                                                <div class="ml-3 text-md">
                                                    <label for="offers" class="medium">Ácido fólico</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="flex items-start">
                                                <div class="h-5 flex items-center">
                                                    <input id="offers" name="offers" type="checkbox" class="checkbox">
                                                </div>
                                                <div class="ml-3 text-md">
                                                    <label for="offers" class="medium">Calcio </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="flex items-start">
                                                <div class="h-5 flex items-center">
                                                    <input id="offers" name="offers" type="checkbox" class="checkbox">
                                                </div>
                                                <div class="ml-3 text-md">
                                                    <label for="offers" class="medium">Fibra </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>
                                <div class="col-span-6 sm:col-span-4 mt-8">
                                    <label for="motive" class="text-sm">Otro suplemento</label>
                                    <input type="text" name="motive" id="motive" autocomplete="motive"
                                        class="placeholder">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- fin card Suplementos-->

                <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6 mt-6">
                    <!-- Inicia card Habitos -->
                    <div class="md:grid md:grid-cols-3 md:gap-6">
                        <div class="md:col-span-3">
                            <h3>Hábitos</h3>
                            <div class="border-t border-gray-200 px-0 sm:my-4 sm:mx-0"></div>

                            <div class="mt-5 md:mt-5 md:col-span-3">
                                <form action="#" method="POST">
                                    <div class="grid grid-cols-6 gap-6">

                                        <div class="col-span-6 sm:col-span-2">
                                            <label for="wakeup-time" class="text-sm">Hora en que se levanta</label>
                                            <div class="mt-1 relative rounded-md">
                                                <input type="text" name="wakeup-time" id="wakeup-time"
                                                    class="mt-1 p-2 h-10 focus:ring-indigo-500 border focus:border-indigo-500 block w-full pl-2 pr-12 sm:text-md border-gray-300 rounded-md"
                                                    placeholder="00">
                                                <div class="absolute inset-y-0 right-0 flex items-center">
                                                    <label for="wakeup-time" class="sr-only">wakeup-time</label>
                                                    <div>
                                                        <div class="max-w-screen-2xl mt-1">
                                                            <div>
                                                                <select id="wakeup" name="wakeup" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                                    <option>AM</option>
                                                                    <option>PM</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Fin select-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-2">
                                            <label for="sleep-time" class="text-sm">Hora en que se duerme</label>
                                            <div class="mt-1 relative rounded-md">
                                                <input type="text" name="sleep-time" id="sleep-time"
                                                    class="mt-1 p-2 h-10 focus:ring-indigo-500 border focus:border-indigo-500 block w-full pl-2 pr-12 sm:text-md border-gray-300 rounded-md"
                                                    placeholder="00">
                                                <div class="absolute inset-y-0 right-0 flex items-center">
                                                    <label for="sleep-time" class="sr-only">sleep-time</label>
                                                    <div>
                                                        <div class="max-w-screen-2xl mt-1">
                                                            <div>
                                                                <select id="sleep" name="sleep" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                                    <option>AM</option>
                                                                    <option>PM</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Fin select-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-2">
                                            <label for="hungry-time" class="text-sm">Hora con más hambre</label>
                                            <div class="mt-1 relative rounded-md">
                                                <input type="text" name="hungry-time" id="hungry-time"
                                                    class="mt-1 p-2 h-10 focus:ring-indigo-500 border focus:border-indigo-500 block w-full pl-2 pr-12 sm:text-md border-gray-300 rounded-md"
                                                    placeholder="00">
                                                <div class="absolute inset-y-0 right-0 flex items-center">
                                                    <label for="hungry-time" class="sr-only">hungry-time</label>
                                                    <div>
                                                        <div class="max-w-screen-2xl mt-1">
                                                            <div>
                                                                <select id="hungry" name="hungry" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                                    <option>AM</option>
                                                                    <option>PM</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Fin select-->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-4">

                                            <div>
                                                    <label for="prepare-food" class="block text-sm">Tiempo empleado para preparar alimentos </label>
                                                    <select id="prepare-food" name="prepare-food" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Nunca</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>Diariamente</option>
                                                    </select>
                                                </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- fin card habitos-->

                

                <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6 mt-6">
                    <!-- Inicia card dieta habitual -->
                    <div class="md:grid md:grid-cols-3 md:gap-6">
                        <div class="md:col-span-3">
                            <h3>Dieta habitual</h3>
                            <div class="border-t border-gray-200 px-0 sm:my-4 sm:mx-0">
                            </div>

                            <div class="mt-5 md:mt-5 md:col-span-3">

                                <div>
                                    <h4>Desayuno</h4>
                                    <div class="flex flex-col mt-3">
                                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
																						<div class="grid grid-cols-9 gap-6">
																							<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Horario</label>
																											<input type="number" step="any" name="time" id="time"
																													autocomplete="time"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Lugar</label>
																											<div>
                                                            <select id="place" name="place" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                                <option>Casa</option>
                                                                <option>Trabajo</option>
                                                                <option>Establecimiento</option>
                                                             </select>
                                                      </div>
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Tipo</label>
																											<div>
                                                            <select id="type" name="type" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                               <option>Preparado</option>
                                                               <option>Comprada</option>
                                                               <option>Comedor</option>
                                                             </select>
                                                        </div>
																									</div>
																							</div>
																										<div class="col-span-6 sm:col-span-3 mt-4">
																											<label for="description" class="text-sm ">Descripción</label>
																											<input type="text" step="any" name="description" id="description"
																													autocomplete="description"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <h4>Primera colación</h4>
                                     <div class="flex flex-col mt-3">
                                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
																						<div class="grid grid-cols-9 gap-6">
																							<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Horario</label>
																											<input type="number" step="any" name="time" id="time"
																													autocomplete="time"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Lugar</label>
																											<div>
                                                            <select id="place" name="place" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                                <option>Casa</option>
                                                                <option>Trabajo</option>
                                                                <option>Establecimiento</option>
                                                             </select>
                                                      </div>
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Tipo</label>
																											<div>
                                                            <select id="type" name="type" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                               <option>Preparado</option>
                                                               <option>Comprada</option>
                                                               <option>Comedor</option>
                                                             </select>
                                                        </div>
																									</div>
																							</div>
																										<div class="col-span-6 sm:col-span-3 mt-4">
																											<label for="description" class="text-sm">Descripción</label>
																											<input type="text" step="any" name="description" id="description"
																													autocomplete="description"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

														<div class="mt-4">
                                    <h4>Comida</h4>
                                     <div class="flex flex-col mt-3">
                                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
																						<div class="grid grid-cols-9 gap-6">
																							<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Horario</label>
																											<input type="number" step="any" name="time" id="time"
																													autocomplete="time"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Lugar</label>
																											<div>
                                                            <select id="place" name="place" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                                <option>Casa</option>
                                                                <option>Trabajo</option>
                                                                <option>Establecimiento</option>
                                                             </select>
                                                      </div>
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Tipo</label>
																											<div>
                                                            <select id="type" name="type" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                               <option>Preparado</option>
                                                               <option>Comprada</option>
                                                               <option>Comedor</option>
                                                             </select>
                                                        </div>
																									</div>
																							</div>
																										<div class="col-span-6 sm:col-span-3">
																											<label for="description" class="text-sm mt-4">Descripción</label>
																											<input type="text" step="any" name="description" id="description"
																													autocomplete="description"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

																		<div class="mt-4">
                                    <h4>Segunda colación</h4>
                                     <div class="flex flex-col mt-3">
                                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
																						<div class="grid grid-cols-9 gap-6">
																							<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Horario</label>
																											<input type="number" step="any" name="time" id="time"
																													autocomplete="time"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Lugar</label>
																											<div>
                                                            <select id="place" name="place" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                                <option>Casa</option>
                                                                <option>Trabajo</option>
                                                                <option>Establecimiento</option>
                                                             </select>
                                                      </div>
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Tipo</label>
																											<div>
                                                            <select id="type" name="type" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                               <option>Preparado</option>
                                                               <option>Comprada</option>
                                                               <option>Comedor</option>
                                                             </select>
                                                        </div>
																									</div>
																							</div>
																										<div class="col-span-6 sm:col-span-3 mt-4">
																											<label for="description" class="text-sm">Descripción</label>
																											<input type="text" step="any" name="description" id="description"
																													autocomplete="description"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

																		<div class="mt-4">
                                    <h4>Cena</h4>
                                     <div class="flex flex-col mt-3">
                                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
																						<div class="grid grid-cols-9 gap-6">
																							<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Horario</label>
																											<input type="number" step="any" name="time" id="time"
																													autocomplete="time"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Lugar</label>
																											<div>
                                                            <select id="place" name="place" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                                <option>Casa</option>
                                                                <option>Trabajo</option>
                                                                <option>Establecimiento</option>
                                                             </select>
                                                      </div>
																									</div>
																									<div class="col-span-6 sm:col-span-3">
																											<label for="time" class="text-sm">Tipo</label>
																											<div>
                                                            <select id="type" name="type" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                               <option>Preparado</option>
                                                               <option>Comprada</option>
                                                               <option>Comedor</option>
                                                             </select>
                                                        </div>
																									</div>
																							</div>
																										<div class="col-span-6 sm:col-span-3 mt-4">
																											<label for="description" class="text-sm">Descripción</label>
																											<input type="text" step="any" name="description" id="description"
																													autocomplete="description"
																													class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-md border border-gray-300 rounded-md">
																									</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            

														


                        </div>
                    </div>
                </div> <!-- fin card dieta habitual-->


            <!-- Relación con los alimentos-->
            <div class="bg-gray-100 w-full px-6 py-5">
                <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                    <div class="md:grid md:grid-cols-3 md:gap-6">
                        <div class="md:col-span-3">
                            <h3>Relación con los alimentos</h3>
                            <div class="border-t border-gray-200 px-0 sm:my-4 sm:mx-0"></div>

                            <div class="mt-5 md:mt-5 md:col-span-3">
                                <form action="#" method="POST">
                                    <div class="grid grid-cols-6 gap-6">
                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="distracts" class="block text-sm">Distractores a la hora de comer</label>
                                                    <select id="distracts" name="distracts" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Televisión</option>
                                                        <option>Celular</option>
                                                        <option>Computadora</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="scale" class="block text-sm">Ansiedad al comer (escala del 1 al 10)</label>
                                                    <select id="scale" name="scale" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                    </select>
                                                </div>


                                        </div>


                                        <div class="col-span-6 sm:col-span-6 mt-2">
                                            <label for="motive" class="text-sm">Alimento(s) que provocan preocupación,
                                                incomodidad o ansiedad</label>
                                            <input type="text" name="motive" id="motive" autocomplete="motive"
                                                class="placeholder">
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- fin card datos generales-->
            </div>

            <!-- Frecuencia de los alimetos-->
            <div class="bg-gray-100 w-full px-6 py-5">
                <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
                    <div class="md:grid md:grid-cols-3 md:gap-6">
                        <div class="md:col-span-3">
                            <h3>Frecuencia de los alimetos</h3>
                            <div class="border-t border-gray-200 px-0 sm:my-4 sm:mx-0"></div>

                            <div class="mt-5 md:mt-5 md:col-span-3">
                                <form action="#" method="POST">
                                    <div class="grid grid-cols-6 gap-6">
                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="vegetables" class="block text-sm"> Verduras </label>
                                                    <select id="vegetables" name="vegetables" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="fruits" class="block text-sm"> Frutas </label>
                                                    <select id="fruits" name="fruits" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="cereals" class="block text-sm"> Cereales y Tuberculos  </label>
                                                    <select id="cereals" name="cereals" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                           <div>
                                                    <label for="legums" class="block text-sm"> Leguminosas  </label>
                                                    <select id="legums" name="legums" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>


                                        </div>
                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="beef" class="block text-sm"> Carne de res  </label>
                                                    <select id="beef" name="beef" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="chicken" class="block text-sm"> Pollo  </label>
                                                    <select id="chicken" name="chicken" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>


                                        </div>
                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="fish" class="block text-sm"> Pescados y mariscos  </label>
                                                    <select id="fish" name="fish" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>
                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="pork" class="block text-sm"> Carne de cerdo  </label>
                                                    <select id="pork" name="pork" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>


                                        </div>
                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="sausages" class="block text-sm"> Embutidos  </label>
                                                    <select id="sausages" name="sausages" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="egg" class="block text-sm"> Huevo  </label>
                                                    <select id="egg" name="egg" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>


                                        </div>
                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="milk" class="block text-sm"> Leche  </label>
                                                    <select id="milk" name="milk" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="milk-type" class="block text-sm"> Tipo de leche  </label>
                                                    <select id="milk-type" name="milk-type" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Entera</option>
                                                        <option>Descremada (Light)</option>
                                                        <option>Semidescremada</option>
                                                        <option>Deslactosada</option>
                                                        <option>Lechadas (almendras, coco)</option>
                                                    </select>
                                                </div>


                                        </div>
                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="yogurt" class="block text-sm"> Yogurt  </label>
                                                    <select id="yogurt" name="yogurt" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="chesee" class="block text-sm"> Queso  </label>
                                                    <select id="chesee" name="chesee" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>


                                        </div>
                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="nuts" class="block text-sm"> Nueces y semillas  </label>
                                                    <select id="nuts" name="nuts" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="coffe" class="block text-sm"> Café  </label>
                                                    <select id="coffe" name="cofee" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>


                                        </div>
                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="sugary-drinks" class="block text-sm"> Bebidas azucaradas  </label>
                                                    <select id="sugary-drinks" name="sugary-drinks" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>

                                        </div>

                                        <div class="col-span-6 sm:col-span-3">

                                            <div>
                                                    <label for="snacks" class="block text-sm"> Botanas  </label>
                                                    <select id="snacks" name="snacks" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Diariamente</option>
                                                        <option>1-2 días de la semana</option>
                                                        <option>3-5 días de la semana</option>
                                                        <option>1-2 veces al mes</option>
                                                        <option>Nunca</option>
                                                    </select>
                                                </div>


                                        </div>
                                        <div class="col-span-6 sm:col-span-6">

                                            <div>
                                                    <label for="water" class="block text-sm"> Consumo de agua natural al día   </label>
                                                    <select id="water" name="water" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                                        <option disabled selected>Elige una opción</option>
                                                        <option>Menos de un litro</option>
                                                        <option>De 1-2 litros</option>
                                                        <option>Más de 2 litros</option>
                                                        <option>Sin registro</option>
                                                    </select>
                                                </div>

                                        </div>



                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- fin card datos generales-->
            </div>



            <!-- /End replace -->
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
</turbo-frame>