.autocomplete_container {
  position: relative;
}

.autocomplete_list  {
  z-index: 10;
  position: absolute;
}

.autocomplete_item {
  margin-bottom: 0 !important;
}

.autocomplete_item:hover {
  background-color: #f1f1f1;
}
